.movie-selection-container {
    background-image: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.movie-card {
    position: relative;
    overflow: hidden;
}

.movie-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.selected-categories span {
    margin: 0.2rem;
}